@page "/contacts"
@inject ContactsApiClient Api
@rendermode InteractiveServer
@inject NavigationManager Nav


<h3>Contacts</h3>

@if (contacts == null)
{
    <p>Loading...</p>
}
else
{
    <input class="form-control mb-3"
           placeholder="Search..."
           value="@searchTerm"
           @oninput="OnSearchName" />


    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Created On</th>
                <th>State</th>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in contacts)
            {
                <tr>
                    <td><input class="form-control col" type="text" disabled="@(c.IsEditing == false)" @bind-value=@c.Name/></td>
                    <td><input class="form-control col" type="text" disabled="@(c.IsEditing == false)" @bind-value=@c.Email/></td>
                    <td><input class="form-control col" type="datetime" disabled="@(c.IsEditing == false)" @bind-value=@c.CreatedAt/></td>
                    <td>
                        <InputSelect class="form-control" @bind-value="@c.State" disabled="@(c.IsEditing == false)">
                            @foreach (var s in Enum.GetValues<State>())
                            {
                                <option value="@c.State">@s</option>
                            }
                        </InputSelect>
                    </td>
                    <td><button type="button" class="btn btn-warning" @onclick="@(() => UpdateContact(c))">@(c.IsEditing ? "Update" : "Edit")</button></td>
                    <td><button type="button" class="btn btn-danger"  @onclick="@(() => DeleteContact(c.Id))">Delete</button></td>
                </tr>
            }
        </tbody>
     </table>
}

@code {
    List<ContactDto>? contacts;
    string searchTerm = string.Empty;
    ContactDto contactToAdd = new ContactDto();


    protected override async Task OnInitializedAsync()
    {
        contacts = await Api.GetAllAsync();
    }

    private async Task RefreshContacts()
    {
        contacts = await Api.GetAllAsync();
    }

    private async Task OnSearchName(ChangeEventArgs e)
    {
        Console.WriteLine($"OnInput fired: {searchTerm}");
        searchTerm = e.Value?.ToString() ?? "";
        contacts = await Api.SearchAsync(searchTerm);
    }

    private async Task UpdateContact(ContactDto contactDto)
    {
        Console.WriteLine("Update clicked");
        if (contactDto.IsEditing)
        {
            bool success = await Api.UpdateAsync(contactDto);
            if (!success)
            {
                Nav.NavigateTo("/error", forceLoad: true);
                return;
            }
        }
        contactDto.IsEditing = !contactDto.IsEditing;
    }

    private async Task DeleteContact(Guid id)
    {
        await Api.DeleteAsync(id);
        await RefreshContacts();
    }
}